html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#states-filter {
    height: 400px;
    width: 100%;
    visibility: hidden;
}

.state-item {
    width: 100%;
    padding: 12px;
    text-align: center;
    vertical-align: baseline;
    cursor: pointer;
    height: 40px;
}

.state-item:focus {
    background-color: dimgrey;
}

.state-item:hover {
    background-color: dimgrey;
}